body {
  font-family: Arial;
  background: #f5f7fa;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  background: #0077cc;
  color: white;
  padding: 20px;
  width: 100%;
  margin: 0;
}

h2 {
  margin-top: 20px;
}

p {
  font-size: 16px;
  color: #333;
}

button {
  padding: 12px 25px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #1e7e34;
}

#msg {
  margin-top: 15px;
  font-weight: bold;
}
